* {
  padding: 0;
  margin: 0;
  /* line-height: 0; */
}

section.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

#project {
  background-color: #e2edff;
}

section {
  padding-top: 4rem;
}
